<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Users List</h1>
        <button class="btn btn-success mb-4 float-end" routerLink="form">
            Add User
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Job Title</th>  
                <th colspan="3"></th>              
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td>{{ u.id }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.lastName }}</td>
                <td>{{ u.age }}</td>
                <td>{{ u.jobTitle }}</td>
                <td>
                    <button class="btn btn-primary">Edit</button>                    
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteUser(u.id!)">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>