<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Users List</h1>
        <button class="btn btn-success mb-4 float-end">
            Add User
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Job Title</th>  
                <th colspan="2"></th>              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Alberto</td>
                <td>49</td>
                <td>Desenvolvedor</td>
                <td>
                    <button class="btn btn-primary">Edit</button>                    
                </td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>