<div class="container justify-content-center">
    <div class="row">
        <div class="col-6 offset-3">
            <article class="user">
                <img class="user__avatar" [src]="avatar">
                <h1 class="user__name mt-3 mb-3">Oi, eu sou a {{name}}!</h1>
                
                    <input class="form__input input-group" type="text" placeholder="Choose a name...">
                    <button class="form__button btn btn-primary" (click)="makeMeHero()">Make me badass!</button>
                
            </article>
        </div>
    </div>
</div>