<div class="margem">
  <mat-card>
    <mat-card-subtitle>Exames de mamografia entre Junho e Julho de 2015</mat-card-subtitle>
      <table matSort (matSortChange)="ocorrenciaExames">
        <tr>
          <th mat-sort-header="id">ID</th>
          <th mat-sort-header="regiaoId">ID Região</th>
          <th mat-sort-header="mes">Mês</th>
          <th mat-sort-header="faixaId">ID Faixa Etaria</th>
          <th mat-sort-header="quantidadeExames">N° de exames</th>
        </tr>

        <tr *ngFor="let element of ocorrenciaExames">
          <td>{{element.id}}</td>
          <td>{{element.regiaoId}}</td>
          <td>{{element.mes}}</td>
          <td>{{element.faixaId}}</td>
          <td>{{element.quantidadeExames}}</td>
        </tr>
      </table>
    </mat-card>

    <mat-card>
      <mat-card-subtitle>Relação de Regiões Brasileiras</mat-card-subtitle>
      <table matSort (matSortChange)="regioes">
        <tr>
          <th mat-sort-header="id">ID</th>
          <th mat-sort-header="regiao'">Região</th>
          <th mat-sort-header="total_exames">N° Exames</th>
        </tr>
        <tr *ngFor="let element of regioes">
          <td>{{element.id}}</td>
          <td>{{element.regiao}}</td>
          <td>{{element.total_exames}}</td>
        </tr>
      </table>
    </mat-card>  

    <mat-card>
        <mat-card-subtitle>Faixa Etaria das mulheres que realizaram os exames</mat-card-subtitle>
        <table matSort (matSortChange)="faixasEtarias">
          <tr>
            <th mat-sort-header="id">ID</th>
            <th mat-sort-header="faixaInicial">Faixa inicial</th>
            <th mat-sort-header="faixaFinal">Faixa final</th>
            <th mat-sort-header="descricao">Descrição</th>
          </tr>
          <tr *ngFor="let element of faixasEtarias">
            <td>{{element.id}}</td>
            <td>{{element.faixaInicial}}</td>
            <td>{{element.faixaFinal}}</td>
            <td>{{element.descricao}}</td>
          </tr>
        </table>
      </mat-card>
      
  </div>