<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">User Form</h1>
        <form autocomplete="off" [formGroup]="userForm">
            <div class="row my-4">                
                <div class="col-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter your name">
                        <label for="name">Name</label>
                    </div>
                </div>
            
                <div class="col-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName= "lastName" id="lastName" placeholder="Enter your last name">
                        <label for="lastName">Last Name</label>
                    </div>
                </div>
            </div>
            
            <div class="row my-4">
                <div class="col-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="age" id="age" placeholder="Enter your age">
                        <label for="age">Age</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="jobTitle" id="jobTitle" placeholder="Enter your job title">
                        <label for="jobTitle">Job Title</label>
                    </div>
                </div>
            </div>
               
            <div class="row my-4">
                <div class="form-group col-12 mt-4">
                    <button type="button" class="btn btn-outline-danger float-start">Cancel</button>
                    <button type="button" class="btn btn-outline-success float-end" (click)="createUser()">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</div>